<h1>New group</h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :group_name %><br />
    <%= f.text_field :group_name %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', groups_path %>
