<p>
  <b>Group name:</b>
  <%=h @group.group_name %>
</p>

<p>
  <b>Size:</b>
  <%=h @group.size %>
</p>

<p>
  <b>Total:</b>
  <%=h @group.total %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>